@import "twitter/bootstrap";

body{
background: white;
padding-top: 70px;
}

.content{

}
/* Navigation Style */
#nav-item{
	color: black;
	text-align: right;
	line-height: 60px;
	font-size: 140%;
	font-weight: bold;

}
.menu-link{
	color: black;
	&:hover{
	color: #FF8533;
	}
}

.brand  {
	
}

.navbar-nav  {
	margin: 7.5px -15px;
}

/*
.collapse-button  {
	position: relative	
}

.navbar-toggle  {
	position: absolute;
	bottom: 0; 
	right: 0;
}


*/