@import "twitter/bootstrap";

body{
background: white;
padding-top: 70px;
}

.content{

}
/* Navigation Style */

.navbar  {
	background-color: #292929
}
.nav-link{
		color: white;
	&:hover{
	color: #292929;
	}
}

.navbar-toggle  {
	padding: 4px 10px;
	margin-top: 12.5px;
	margin-bottom: 12.5px;
	border-radius: 3px;
	background-color:grey;
}

.brand  {
	
}

.navbar-nav  {
	margin: 7.5px -15px;
}


a.nav-link {
  color: grey;
	&:hover  {
	  color: white;
		background-color: #292929 !important;
	}
	&:active {
		background-color: #292929;
	}
	&:focus  {
		background-color: #292929 !important;
	}
}

.navbar-nav > .active > a  {
	color: white;
}

/*
.collapse-button  {
	position: relative	
}

.navbar-toggle  {
	position: absolute;
	bottom: 0; 
	right: 0;
}


*/